html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
  margin: 0px;
  padding-top: 5rem;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: hsla(0, 0%, 0%, 0.627);
  border: none;
  cursor: pointer;
}

button:active {
  background-color: red;
}

.img-container > * {
  object-fit: cover;
  opacity: 0;
}

.img-container > *.active {
  opacity: 1;
  transition: opacity 500ms linear;
  order: -1;
}

.img-container {
  display: flex;
  max-height: 100%;
  overflow: hidden;
}

.carousel-container {
  min-width: min-content;
  max-width: 30rem;
  aspect-ratio: 16/9;
  position: relative;
  margin: 0 auto;
}

.carousel-container > * {
  position: absolute;
}

.carousel-container > .arrow-right-btn,
.carousel-container > .arrow-left-btn {
  z-index: 10;
  height: 100%;
  width: 20%;
}

.carousel-container > .arrow-right-btn {
  right: 0;
}

.carousel-container > .dot-container {
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: .2rem;
  display: flex;
  gap: .3rem;
  padding: .4rem;
  background-color: hsla(0, 0%, 0%, 0.627);
  border-radius: 3px;
}

.dot-container button {
  border: .3rem grey solid;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0;
  cursor: pointer;
}

.dot-container button.active {
  border-color: white;
}